




                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> BSNL Responsibility</h6>

                        </div>

                        <ul>
                            <li>
                                BSNL  shall continue to maintain UG OFC. 

                            </li>
                        </ul>

                    </div>




                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> Builder/RWA/TIPs Responsibility</h6>

                        </div>
                        <ol>

                            <li>
                                Complete responsibility of maintenance beyond OLT
                            </li>
                            <li>
                                New FTTH Connections can be provisioned from the OLT under Case II, Case III,Case IIA and Case IIIA as the case may be.
                            </li>

                        </ol>
                    </div>

<button class="btn btn-link" (click)='oncloseClick()'>Close</button>



