




                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> BSNL Responsibility</h6>

                        </div>

                        <ul>
                            <li>
                                BSNL shall extend the bandwidth connectivity up to OLTEs free of cost subject to Techno-Commercial viability.

                            </li>
                        </ul>

                    </div>




                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> Builder/RWA/TIPs Responsibility</h6>

                        </div>
                        <ol>

                            <li>
                                Builders/RWAs/TIPs shall be responsible to supply, deploy, own, operate &amp; maintain the OLTEs, ONTs and all the Telecom Network infrastructure beyond OLTEs up to customer’s premises.
                                Space &amp; Power shall be arranged.
                            </li>
                            <li>
                                Compatible ONTs shall be supplied by Builders/RWAs/TIPs to the customers directly and cost towards this shall not be considered for revenue share purpose.

                            </li>
                            <li>
                                Any further post sale obligation in respect of ONTs shall rest with Builders/RWAs/TIPs and not with BSNL.
                            </li>
                            <li>
                                Builders/RWAs/TIPs shall follow all the guidelines/Rules/regulations of Govt. Of India/DOT Including TRAI Parameters.
                            </li>






                        </ol>
                    </div>

<button class="btn btn-link" (click)='oncloseClick()'>Close</button>


