
                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> BSNL Responsibility</h6>

                        </div>

                        <ol>

                            <li>
                                To build / extend the OFC network upto residential / commercial complex, at one point (BSNL control room), within the complex.
                            </li>
                            <li>
                                To build / extend the OFC network inside the residential / commercial complex and interconnection of building through OFC within premises.
                            </li>
                            <li>
                                To build / extend the BSNL telecom network
                            </li>
                            <li>
                                To do the installation of BSNL telecom equipments.
                            </li>
                            <li>	To provide the maintenance support to BSNL telecom equipments including OFC laid / build by BSNL</li>



                        </ol>


                    </div>




                    <div class="card">
                        <div class="card-header">
                            <h6 class="h6"> Builder/RWA/TIPs Responsibility</h6>

                        </div>
                        <ol>

                            <li>
                                To build / extend the OFC network inside the residential / commercial complex and interconnection of building through OFC within premises.
                            </li>
                            <li>
                                To do the wiring of cable inside the building up to inside the flat / shop and laying of connecting cable network in whole premises / complex connecting various buildings / towers from the BSNL telecom Network point (BSNL control room).
                            </li>
                            <li>
                                To provide a interconnectivity at the Network operation center (NOC) buildup by the builder / RWA / Telecom infrastructure provider
                            </li>
                            <li>
                                To provide the maintenance support to OFC laid / build by the builder / RWA / infrastructure provider.
                            </li>
                            <li>
                                To provide the maintenance support to telecom equipment supplied / installed by the builder / RWA / infrastructure provider.
                            </li>
                            <li>
                                To provide the space / room to BSNL on rent, for setting up of control room inside the residential / commercial complex for housing the essential telecom equipment of BSNL with provisions of Air-conditioning and electricity availability.
                            </li>
                            <li>
                                To provide the maintenance support of space / room given on rent.
                            </li>

                        </ol>
                    </div>



<button class="btn btn-link" (click)='oncloseClick()'>Close</button>
